<h1>CHeck It Out</h1>

<section>
<div class="locations">

    <li><%= @place.name %></li>
    <li><%= @place.address %></li>
    <li><%= @place.good_for %></li>
    <li><%= @place.comment %></li>
<div class="links">
    <%= link_to "Edit", edit_place_path%> |
    <%= link_to "Delete ", place_path(@place), method: :delete, data: { confirm: "Are you Sure??" }%>
</div>
</div>
   <div class="pic">
   <%= image_tag(@place.image, width: "250px") %>
   </div>

</section>