
<section>
    <h1>Yum, Can't Go Wrong With This One</h1>

    <div class="card">
        <%= image_tag(@place.image, class: 'card-img-top') %>
        <div class="card-body">
            <h5 class="card-title"><%=@place.name%></h5>
            <p class="card-text"><%=@place.address%></p>
            <p class="card-test"><%=@place.comment%></p>
            <p class="card-test"><%=@place.good_for%></p>
        </div>
        <div class="locations">
        <div class="links">
            <%= link_to "Edit", edit_place_path%> |
            <%= link_to "Delete ", place_path(@place), method: :delete, data: { confirm: "Are you Sure??" }%>
        </div>
        </div>
    </div>
</section>